body {
    background-color: #121212;
    color: #FFFFFF;
    font-family: 'Roboto', Arial, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
.container {
    background-color: #2d2d2d;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    max-width: 600px;
    padding: 20px;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
.form-group {
    margin-bottom: 20px;
  }
.form-group label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
  }

.form-group .slider {
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
.form-group .slider-data {
    border-radius: 10px;
    display: inline-block;
    font-weight: bold;
    padding: 5px 10px;
  }
.form-group .rating-data {
    background-color: #4285F4;
  }
.form-group .votes-data {
    background-color: #DB4437;
  }
.form-group .year-data {
    background-color: #F4B400;
  }
.checkbox-group {
    margin-bottom: 5px;
    width: 26%;
  }
.checkbox-group label {
    display: inline-block;
    margin-right: 10px;
  }
.slider-value-container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
.slider-value {
    background-color: #007bff;
    border-radius: 4px;
    font-size: 14px;
    padding: 4px 8px;
  }
.ui-slider-handle:before {
    content: attr(data-value);
  }
.ui-slider-handle {
    position: relative;
    z-index: 2;
  }
.checkbox-container {
    border: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
.checkbox-column {
    width: 25%;
  }
@media (max-width: 767px) {
  .container {
      max-width: 70%;
      padding: 20px;
    }
  }
.button-container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }
.submit-btn {
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: min(2.5vw,15px);
    padding: 10px 20px;

  /* Set the background color */
  /* Remove the border */
  /* Set the text color */
  /* Add padding around the text */
  /* Set the font size */
  /* Add a pointer cursor on hover */
  /* Add rounded corners */
  }
.submit-btn:hover {
    background-color: #45a049;

  /* Change the background color on hover */
  }
.dropdown-checkbox {
    display: inline-block;
    position: relative;
  }
.dropdown-toggle {
    background-color: #181818;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 8px 12px;
  }
.dropdown-menu {
    --bs-dropdown-link-active-bg: none;
    --bs-dropdown-link-hover-bg: none;
    background-color: #2d2d2d;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none;
    left: 0;
    padding: 8px;
    position: absolute;
    top: 100%;
    z-index: 9999;
  }
.checkbox-menu {
    background-color: #2d2d2d;
    column-count: 2;
  }
.dropdown-item input[type="checkbox"] {
    margin-right: 8px;
  }
.dropdown-item label {
    font-size: 14px;
  }
.multi-select-input {
    align-items: center;
    background-color: #2d2d2d;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    padding: 8px 12px;
  }
.chip {
    align-items: center;
    background-color: #2d2d2d;
    border-radius: 4px;
    display: inline-flex;
    font-size: 14px;
    margin-right: 8px;
    padding: 4px 8px;
  }
.chip .chip-label {
    margin-right: 4px;
  }
.dropdown-textbox {
    display: inline-block;
    padding-top: 10px;
  }
.dropdown-textbox .dropdown-toggle {
    background-color: #2d2d2d;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
  }
.dropdown-textbox.show .dropdown-menu {
    background-color: #2d2d2d;
    display: block;
  }
.dropdown-textbox .dropdown-item {
    display: flex;
    margin-bottom: 4px;
  }
.dropdown-textbox .dropdown-item input[type="text"] {
    margin-right: 8px;
  }
.dropdown-textbox .dropdown-item label {
    font-size: 14px;
  }
.title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
  }
.slider-container {
    margin-bottom: 20px;
  }
.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
.logo img {
    filter: invert(1);
    max-width: 100%;
  }
.content-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    left: 50%;
    max-height: 90%;
    max-width: 90%;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
  }
.content-overlay h2 {
    font-size: min(4vw,70px);
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 0.2vh;
    margin-top: 0;
    text-transform: uppercase;
  }
.content-overlay p {
    margin: 10px 0;
    font-size: min(2vw,25px);
  }
.button-container .button {
    cursor: pointer;
    margin: 0 10px;
  }
.button-container img {
    max-height: 100px;
  }
/* Added styles */
.button-container-bottom {
    display: flex;
    justify-content: center;
    padding-top: 20px;

  /* Align items with space between them */
  }
.button-container-top {
    display: inline-block;
    margin: -40px -15px 0;
    padding-bottom: 30px;
  }
/* Add the textured effect using a CSS pseudo-element */
.go-back-button {
    background-color: rgba(0, 0, 0, 0.7);
    color: #FFF;
    font-family: "Segoe UI Emoji", sans-serif;
    font-size: min(1.5vw,15px);
    opacity: 0.7;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;

  /* Set position to relative to allow pseudo-element positioning */
  /* Set the text color of the button to white */
  /* Make the button text uppercase */
  /* Hide overflowing pseudo-element content */
  }
.go-back-button::before {
    content: "";
    height: calc(100% + 20px);
    left: -10px;
    position: absolute;
    top: -10px;
    transform: translate(-50%, -50%);
    width: calc(100% + 20px);
    z-index: -1;

  /* Required for the pseudo-element to appear */
  /* Adjust the positioning of the pseudo-element */
  /* Extend the width to cover the button */
  /* Extend the height to cover the button */
  /* Set a negative z-index to position the pseudo-element behind the button content */
  }
.box1 {
    display: inline-block;
    float: right;
    padding-top: 15px;
  }
.box2 {
    flex: 1;
    padding-top: 40px;
    text-align: center;
  }
.reset-btn {
    font-size: 10px;
    overflow: hidden;
    padding-right: -20px;
  }
.error {
    background-color: red;
    color: white;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 10px;
  }
.error .message {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
.error .message p {
    margin: 0;
  }
.error .message .close {
    cursor: pointer;
    font-weight: bold;
  }
.info-button {
    cursor: pointer;
  }
.info-checkbox {
    display: none;
  }
.info-checkbox:checked+.info-popup {
    display: block;
  }
.info-popup {
    background-color: #2d2d2d;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: none;
    font-size: 14px;
    max-width: 300px;
    padding: 10px;
    position: absolute;
    transform: translateX(350px);
    word-wrap: break-word;

  /* Adjust the maximum width as desired */
  }
.info-popup p {
    margin: 0;

  /* Remove the default margin */
  }
.info-button img {
    height: 20px;
    width: 20px;

  /* Adjust the width to your desired size */
  /* Adjust the height to your desired size */
  }
.rolled-from-text {
    font-size: min(1vw,15px);
    left: 50%;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
  }

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles for the loading spinner */
#loading-overlay .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

#loading-overlay .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.database-update-text {
    font-size: min(1vw,15px);
    opacity: 0.3;
    padding-top: 100px;
  }

/* Spinner animation keyframes */
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}