<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/dist/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='nouislider/dist/nouislider.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui-dist/jquery-ui.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">


  <script src="{{ url_for('static', filename='jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='@popperjs/core/dist/umd/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap/dist/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery-ui-dist/jquery-ui.min.js') }}"></script>
  <script src="{{ url_for('static', filename='nouislider/dist/nouislider.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js-cookie/dist/js.cookie.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>


  <title> IMDb Randomizer </title>
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="manifest" href="/static/site.webmanifest">
  <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/static/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<script>


function resetFilters() {
  // Reset the checkboxes
  $("input[type='checkbox']").prop('checked', false);

  // Reset the sliders
  const ratingSlider = document.getElementById("ratingRangeSliderContainer");
  const minVotesSlider = document.getElementById("minVotesSlider");
  const yearSlider = document.getElementById("yearSlider");

  ratingSlider.noUiSlider.reset(); // Reset the slider location
  minVotesSlider.noUiSlider.reset(); // Reset the slider location
  yearSlider.noUiSlider.reset(); // Reset the slider location

  $("#ratingRangeValue").text("5.0 - 10.0");
  $("#minVotesValue").text("5,000");
  $("#yearRangeValue").text("1940 - " + new Date().getFullYear());

  document.getElementById("genreMultiSelect").innerHTML = "";
  document.getElementById("contentTypeMultiSelect").innerHTML = "";
}

$(window).on('unload', function () {
    $('#loading-overlay').hide();
});

</script>
<body>
    <div id="loading-overlay" style="display:none">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>
<div class="container">
  <div class="logo">
    <img src="/static/imdb_randomizer.png" alt="Logo">
  </div>
   <hr style="height:1px;border:none;color:#FFFFFF;background-color:#FFFFFF;">
<form action="/run_script" method="post">
<div style="padding-bottom: 2vh">
    {% set contentTypes = [
      "Movie 🎬",
      "TvSeries 📺",
      "Other ❓"
    ] %}

    {% for contentType in contentTypes %}
        <input type="checkbox" name="contentTypes" id="contentType{{ loop.index }}" class="btn-check" checked autocomplete="off" value="{{ contentType.split(' ')[0] }}">
      <label class="btn btn-outline-primary" for="contentType{{ loop.index }}" style="font-size: min(4vw,30px);"> {{ contentType }} </label>
    {% endfor %}
  </div>

<div class="genre-group form-group">
  <div class="dropdown-checkbox">
    <button class="dropdown-toggle" type="button" id="genreDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Select Genres
    </button>
    <div class="dropdown-menu checkbox-menu" aria-labelledby="genreDropdown">
      {% set genres = [
        "Action 💥",
        "Adventure 🌍",
        "Animation 🎬",
        "Comedy 😂",
        "Crime 👮",
        "Documentary 📹",
        "Drama 🎭",
        "Fantasy 🧚",
        "Family 👪",
        "Film-Noir 🎥",
        "Horror 🎃",
        "Musical 🎵",
        "Mystery 🔍",
        "Romance 💕",
        "Sci-Fi 🚀",
        "Short 🎥",
        "Thriller 😱",
        "War ⚔️",
        "Western 🤠"
      ] %}

      {% for genre in genres %}
      <div class="dropdown-item btn-group" role="group">
      <input type="checkbox" name="genres" class="btn-check" value="{{ genre.split(' ')[0] }}" id="btncheck{{ loop.index }}" autocomplete="off">
      <label class="btn btn-outline-primary" for="genre{{ loop.index }}">{{ genre }}</label>
    </div>
      {% endfor %}
    </div>
  </div>
  <div class="multi-select-input" id="genreMultiSelect"></div>
</div>

  <div class="slider-container">
    <div class="ratingRange-group form-group">
      <label for="ratingRangeSlider">Average Rating Range:</label>
      <div id="ratingRangeSliderContainer" class="slider"></div>
      <div class="slider-value-container">
        <div class="slider-value" id="ratingRangeValue"></div>
      </div>
      <input type="hidden" id="minRatingInput" name="min_rating">
      <input type="hidden" id="maxRatingInput" name="max_rating">
    </div>
  </div>

  <div class="slider-container">
    <div class="minVotes-group form-group">
      <label for="minVotesSlider">Minimum Amount of Votes:</label>
      <div id="minVotesSlider" class="slider"></div>
      <div class="slider-value-container">
        <div class="slider-value" id="minVotesValue"></div>
      </div>
      <input type="hidden" id="minVotesInput" name="min_votes">
    </div>
  </div>

  <div class="slider-container">
    <div class="yearRange-group form-group">
      <label for="yearSlider">Release Year Range:</label>
      <div id="yearSlider" class="slider"></div>
      <div class="slider-value-container">
        <div class="slider-value" id="yearRangeValue"></div>
      </div>
      <input type="hidden" id="minYearInput" name="min_year">
      <input type="hidden" id="maxYearInput" name="max_year">
    </div>
  </div>
  <div class="box2">
        <button type="submit" class="submit-btn" onclick="$('#loading-overlay').show();">&#x1F37F; Randomize &#x1F37F;</button>

        {% if error_message %}
        <div class="error">
            <div class="message">
                <p>{{ error_message }}</p>
                <span class="close">X</span>
            </div>
        </div>
        {% endif %}
  </div>
 <hr style="height:1px;border:none;color:#FFFFFF;background-color:#FFFFFF;">
  <div class="box1">
      <button type="button" class="btn btn-primary reset-btn" onclick="resetFilters()">Reset Filters</button>
  </div>
      <div class="dropdown-textbox">
    <button type="button" class="btn btn-secondary dropdown-toggle" id="watchedContentButton">
      Click here to filter content by IMDb ID
    </button>
    <div id="watchedContentFormContainer" class="dropdown-menu">

        <div class="mb-3">
  <label for="watchedContentInput" class="form-label" style="color: #FFFFFF"><p>Enter IMDb IDs (one ID per line):<br>
          1. Go to https://www.imdb.com/list/ratings<br>
          2. Click on the three bubbles and choose "Export"<br>
          3. Open the file and copy-paste the IDs from the "Const" column here
            </p></label>
  <textarea class="form-control" id="watchedContentInput" name="watchedContent" rows="3" style="width: 200px" ></textarea>
</div>
      </div>
    </div>
    <br>
    <div style="padding-top: 1.5vh"><em class="database-update-text">Database was last updated {{ db_update_time }}</em></div>
</div>




</body>
</html>