<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{{ url_for('static', filename='jquery/dist/jquery.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #121212;
            font-family: 'Roboto', Arial, sans-serif;
        }
        .content-box {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url("{{ poster_url }}");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

    </style>

    <title> IMDb Randomizer </title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script>
       $(window).on('unload', function () {
            $('#loading-overlay').hide();
        });

    </script>
</head>
<body>
            <div id="loading-overlay" style="display:none">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>
    <div class="content-box">
        <div class="content-overlay">
            <div class="button-container button-container-top">
                <a href="{{ url_for('index') }}" class="btn btn-primary go-back-button" style="float: left">&#x21A9;Go back to filters&#x21A9;</a>
                <em class="rolled-from-text">Randomized from {{ result_count }} possibilities<br>(you had a {{ probability }}% chance of being suggested this)</em>
            </div>            
            <h2 id="title">{{ sorted_data[2] }}</h2>
            {% if overview %}
            <p><strong>Overview:</strong> {{ overview }}</p>
            {% endif %}
            <p><strong>Rating:</strong> {{ sorted_data[4] }}</p>
            <p><strong>Genre:</strong> {{ sorted_data[6] }}</p>
            <p><strong>Year:</strong> {{ sorted_data[3] }}</p>


            <div class="button-container">
                <a href="http://www.imdb.com/title/{{ sorted_data[0] }}" target="_blank" class="button">
                    <img src="/static/imdb_logo.png" alt="Button 1" style="width: 10vw; height: 5vw; max-width: 100px; max-height: 50px">
                </a>
                <a href="http://torrentgalaxy.to/torrents.php?search={{ sorted_data[0] }}#results" target="_blank" class="button">
                    <img src="/static/torrentgalaxy_logo.png" alt="Button 2" style="width: 20vw; height: 5vw; max-width: 200px; max-height: 50px">
                </a>
                <a href="https://x1337x.ws/search/{{ sorted_data[2] }}+{{ sorted_data[3] }}/1/" target="_blank" class="button">
                    <img src="/static/1337x_logo.png" alt="Button 3" style="width: 10vw; height: 5vw; max-width: 100px; max-height: 50px">
                </a>
                <a href="https://thepiratebay.org/search.php?q={{ sorted_data[2] }}+{{ sorted_data[3] }}" target="_blank" class="button">
                    <img src="/static/thepiratebay_logo.png" alt="Button 4" style="width: 10vw; height: 10vw; max-width: 100px; max-height: 100px">
                </a>
            </div>

            <div class="button-container button-container-bottom">
                <!-- "Randomize again" button -->
                <form action="{{ url_for('reroll') }}" method="post">
                    <button type="submit" class="submit-btn" onclick="$('#loading-overlay').show();">&#x1F37F; Randomize again &#x1F37F;</button>
                </form>
            </div>
        </div>
    </div>
        <script>
        // Function to scale the text size dynamically
        function scaleTextSize() {
            var contentOverlay = document.querySelector('.content-overlay');
            var title = document.getElementById('title');
            var fontSize = 1;
            while (title.offsetHeight > contentOverlay.offsetHeight || title.offsetWidth > contentOverlay.offsetWidth) {
                title.style.fontSize = fontSize + 'px';
                fontSize--;
            }
        }

        // Call the function on window resize
        window.addEventListener('resize', scaleTextSize);

        // Initial call to scale the text size
        scaleTextSize();
    </script>


</body>
</html>
